Repository AlexWayfer/sequel-enum_values: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: bundle exec rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    matrix:
      image: ruby:3.1
  environment:
  ...

Replace `codecov` Ruby uploader with shell one
  .cirrus.yaml
  sequel-enum_values.gemspec
  spec/spec_helper.rb
Due: remark, rubocop, rspec

Try to drop test ENV variable
  .cirrus.yaml
  spec/spec_helper.rb
Due: remark, rubocop, rspec

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  sequel-enum_values.gemspec
Due: remark, rubocop, rspec

Move development dependencies from gemspec into Gemfile
  Gemfile
  sequel-enum_values.gemspec
Due: rubocop, rspec

Update Toys dependencies
  Gemfile
Due: rubocop, rspec

Lock `rubocop-performance` version more strict
  Gemfile
Due: rubocop, rspec

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  sequel-enum_values.gemspec
Due: remark, rubocop, rspec

Resolve new RuboCop Performance offense
  lib/sequel/plugins/enum_values.rb
Due: rubocop, rspec

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Configure Renovate
  renovate.json
Due: none

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Configure `remark-lint-list-item-indent` after `remark-preset-lint-recommended` update
  .remarkrc.yaml
Due: remark

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Exclude ignored by git files for RuboCop
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offenses about `spec.add_runtime_dependency`
  sequel-enum_values.gemspec
Due: rubocop, rspec

Resolve new RuboCop offenses about `it_behaves_like`
  spec/sequel/plugins/enum_values_spec.rb
Due: rubocop, rspec

Remove Code Climate badge from README
  README.md
Due: remark

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  sequel-enum_values.gemspec
Due: remark, rubocop, rspec

Add `.ruby-version` file to `.gitignore`
  .gitignore
Due: remark, rubocop, rspec

Add `bundle-audit` CI task
  .cirrus.yaml
  Gemfile
Due: remark, rubocop, rspec

Remove `bundler` as development dependency
  Gemfile
Due: rubocop, rspec

Replace `Rakefile` with `.toys.rb` in CI config
  .cirrus.yaml
Due: remark, rubocop, rspec

Lock `sequel` runtime dependency at version 5
  sequel-enum_values.gemspec
Due: rubocop, rspec

Update `gem_toys` and `toys` dependencies
  Gemfile
Due: rubocop, rspec

Update RuboCop and its plugins
  Gemfile
Due: rubocop, rspec

Resolve new RuboCop offenses
  .rubocop.yml
  spec/sequel/plugins/enum_values_spec.rb
Due: rubocop, rspec

Add Ruby 4.0 support
  .cirrus.yaml
  sequel-enum_values.gemspec
Due: remark, rubocop, rspec

Specify version file for `gem_toys`
  .toys.rb
Due: rubocop

Update version to 2.0.0
  CHANGELOG.md
  lib/sequel/plugins/enum_values/version.rb
Due: remark, rubocop, rspec

Path conditions:
  remark: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md
  rubocop: any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru
  rspec: any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**
